#resMainContent{
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    height:auto;
}

.resTopic{
    width: 94%;
    margin: 0 3% 0 3%;
    height:auto;
    padding-bottom: 20px
}

.resTopic h2{
    float:left;
    margin-top: 0;
    
    
    
}

.innerContent{
    padding-left: 
        25%;
    
}

