



#biography,#futureBiography{
    height:auto; 
    width:44%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    padding-bottom: 30px;
}
#biography{
    clear:right;   
    float:left;    
}

.orderedList li{
    text-align: left;
    margin-left: 120px;
}

#futureBiography{      
    float:right;
}

#snapShot{
    height:362px;
}



.unorderedList li{
    text-align:left;
    margin-left: 160px;
}

#autoHeightFix{
    clear:both;
}