#preQ{
    clear:right;   
    float:left;    
}

#preQ,#originalT{
    height:auto; 
    width:44%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    padding-bottom: 30px;
}


#originalT{      
    float:right;
}

#searchContainer01{
    float:right;
    width: 50%;
    height:auto;

}

#searchFieldSet01{
    margin:0 0 3px 0;
}


#searchResults{
	display:block;
	background:white;
	width: 250px;
    padding-left: 5px;
    margin-top: 0;
    font-size: 20px;
    height:auto;	
	color:black;
    box-shadow: 2px 2px;
}



