#fbMainContent{
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

#fbMainContent > p{
    padding-left: 200px;
    
}
#feedBack{
    margin-top: 50px;
    margin-left: 29%;
}


.formatForm{
    background: silver;
    color:black;
    
    
}

.formatForm > legend {
    
    background:#543232;
    color:lightgrey;
   
}



