.productBox:first-of-type{
    margin-top:20px;
    padding-top: 10px;
    border-top: black;
    border-top-style:solid;
    border-width:1px;
}

.productBox:not(:first-of-type){
    margin-top: 200px;
    padding-top: 10px;
    border-top: black;
    border-top-style:solid;
    border-width:1px;
}

.productBox h4{
    text-align: center;
}

.productBox{
    max-width:313px;
}

.shopItem{
    
    width:100%;
    height:100%;
    
}

.button{
    margin-top: 30px;
    height:60px;
}

.cartInput{
    float:right;
}

.numberInp{
    width:50px;
}

.itemDesc{
    
}

/*Larger Screens */
@media only screen and (min-width:630px){
    .productBox:nth-child(even){
        float:left;
        margin-top:200px;
        clear:both;
        
       
    }
    
    .productBox:nth-child(odd){
        float:right;
        margin-top:200px;
    }
}
